In [61]:
#dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import Column, Integer, String
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from config import username, password

In [62]:
#set up sqlalchemy to connect to database and grab session
engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/puppydb")
Base = automap_base()
Base.prepare(engine, reflect=True)
conn = engine.connect()
session = Session(engine)

In [63]:
# pip install pymysql

In [64]:
# #table names
# Base.classes.keys()
# #set each table reference to a variable
# owners = Base.classes.owners
# puppies = Base.classes.puppies

In [75]:
puppydf = pd.read_sql("SELECT * FROM puppies",conn)
ownerdf = pd.read_sql("SELECT * FROM owners",conn)
#set index of both dataframes
# ownerdf = ownerdf.set_index('id')
puppydf = puppydf.set_index('id')
# ownerdf = ownerdf.reset_index()
# ownerdf
ownerdf

    id     name email  puppy_id
0    1   Kelsey  None         7
1    2    Thang  None         1
2    3     Alex  None         2
3    4     Drum  None         3
4    5    Emily  None         4
5    6    Blake  None         5
6    7  Anthony  None         6
7    8   Curtis  None         8
8    9      Ian  None         9
9   10    Steve  None        10
10  11   Kimmie  None        11

In [67]:
# puppylarge = session.query(puppies).filter(puppies.size == "large").count()
# puppymedium = session.query(puppies).filter(puppies.size == "medium").count()
# puppysmall = session.query(puppies).filter(puppies.size == "small").count()
# print(f'There are {puppylarge} large puppies in our adoption database.')
# print(f'There are {puppymedium} large puppies in our adoption database.')
# print(f'There are {puppysmall} small puppies in our adoption database.')

In [78]:
#average age of puppies put up for adoption  in our database
avgage = puppydf['age'].mean()
print(int(avgage))

5

In [56]:
ownerdf