In [1]:
#dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import Column, Integer, String
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from config import username, password

In [2]:
#set up sqlalchemy to connect to database and grab session
engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/puppydb")
# Base = automap_base()
# Base.prepare(engine, reflect=True)
conn = engine.connect()
# session = Session(engine)

In [3]:
# pip install pymysql

In [4]:
# #table names
# Base.classes.keys()
# #set each table reference to a variable
# owners = Base.classes.owners
# puppies = Base.classes.puppies

In [8]:
puppydf = pd.read_sql("SELECT * FROM puppies",conn)
# ownerdf = pd.read_sql("SELECT * FROM owners",conn)
#set index of both dataframes
# ownerdf = ownerdf.set_index('id')
puppydf = puppydf.set_index('id')
# ownerdf = ownerdf.reset_index()
# ownerdf
puppydf

           name    size  age             breed activity_mode
id
1          Flix   large    6   German Shepherd         hyper
2           Bid   small    3           Basenji         hyper
3         Blade  medium    7          Pit Bull  couch potato
4      Callahan   large    5  Alaskan Malamute       regular
5        Hammer   large    8             Akita       regular
6          Huck  medium    4         Shiba Inu         hyper
7       Pancake  medium    7           Samoyed  couch potato
8         Poach   small    6      Bichon Frise  couch potato
9        Savage   small    2        Pomeranian         hyper
10      Scoober  medium    6         Dalmatian         hyper
11  Sea Biscuit   large   10       St. Bernard  couch potato

In [67]:
# puppylarge = session.query(puppies).filter(puppies.size == "large").count()
# puppymedium = session.query(puppies).filter(puppies.size == "medium").count()
# puppysmall = session.query(puppies).filter(puppies.size == "small").count()
# print(f'There are {puppylarge} large puppies in our adoption database.')
# print(f'There are {puppymedium} large puppies in our adoption database.')
# print(f'There are {puppysmall} small puppies in our adoption database.')

In [78]:
#average age of puppies put up for adoption  in our database
avgage = puppydf['age'].mean()
print(int(avgage))

5

In [89]:
#get counts from each table
ownerdf.count()

id          11
name        11
email        0
puppy_id    11
dtype: int64

In [90]:
puppydf.count()

name             11
size             11
age              11
breed            11
activity_mode    11
dtype: int64

In [ ]:
#number of columns per table