In [2]:
#dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from config import username, password

In [3]:
#set up sqlalchemy to connect to database and grab session
engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/puppydb")
conn = engine.connect()

In [4]:
# pip install pymysql - to get sqlalchemy to work

In [13]:
#get info from sql
puppydf = pd.read_sql("SELECT * FROM puppies",conn)
ownerdf = pd.read_sql("SELECT * FROM owners",conn)
#set index of both dataframes
ownerdf = ownerdf.set_index('id')
puppydf = puppydf.set_index('id')

           name    size  age             breed activity_mode
id
1          Flix   large    6   German Shepherd         hyper
2           Bid   small    3           Basenji         hyper
3         Blade  medium    7          Pit Bull  couch potato
4      Callahan   large    5  Alaskan Malamute       regular
5        Hammer   large    8             Akita       regular
6          Huck  medium    4         Shiba Inu         hyper
7       Pancake  medium    7           Samoyed  couch potato
8         Poach   small    6      Bichon Frise  couch potato
9        Savage   small    2        Pomeranian         hyper
10      Scoober  medium    6         Dalmatian         hyper
11  Sea Biscuit   large   10       St. Bernard  couch potato

In [15]:
#get counts from each table
print(ownerdf.count())

name        11
email       11
puppy_id    11
dtype: int64

In [16]:
print(puppydf.count())

name             11
size             11
age              11
breed            11
activity_mode    11
dtype: int64

In [52]:
#number of columns per table
puppydf_shape = puppydf.shape
num_puppy_columns = puppydf_shape[1]
num_puppy_rows = puppydf_shape[0]
print(f'The number of columns in our puppy table is {num_puppy_columns}'+'\n'+'and they are {puppydf.columns.tolist()}')
ownerdf_shape = ownerdf.shape
num_owner_columns = ownerdf_shape[1]
num_owner_columns = ownerdf_shape[0]
print(f'The number of columns in our foster pawrent table is {num_owner_columns}'+'\n'+'and they are {ownerdf.columns.tolist()}.')

The number of columns in our puppy table is 5
and they are {puppydf.columns.tolist()}
The number of columns in our foster pawrent table is 3
and they are {ownerdf.columns.tolist()}.

In [39]:
#group puppies by activity level and show the count of dogs of a certain activity level
puppy_activity_count = puppydf.groupby(['activity_mode','size']).count()
puppy_activity_count

                      name  age  breed
activity_mode size
couch potato  large      1    1      1
              medium     2    2      2
              small      1    1      1
hyper         large      1    1      1
              medium     2    2      2
              small      2    2      2
regular       large      2    2      2

In [40]:
#this shows the age and number of dogs 
puppy_age_count = puppydf.groupby(puppydf['age']).count()
puppy_age_count

     name  size  breed  activity_mode
age
2       1     1      1              1
3       1     1      1              1
4       1     1      1              1
5       1     1      1              1
6       3     3      3              3
7       2     2      2              2
8       1     1      1              1
10      1     1      1              1

- Can do further correlation by finding relationship between ex: size and breed or size and age to see if there are similiarities there
- No group by analysis needed for owner since is only a one to one relationship and did not ask for more inforation from owner to do analysis

Section for batch load

In [ ]:
#read in csv
puppycsv_df = pd.read_csv('exampledatapuppies.csv')
ownercsv_df = pd.read_csv('exampledataowners.csv')

#make a copy csv
puppycsv_df.to_csv('puppycopy.csv')
ownercsv_df.to_csv('ownerscopy.csv')

In [49]:
#appends dataframe from csv to mysql if table exists and creates table if does not exist on puppydb
#use only if needed otherwise will get duplicate values
with engine.begin() as connection:
    puppycsv_df.to_sql('puppies', con=connection, if_exists='append', index = False)

In [ ]:
#do this for ownertable as well
with engine.begin() as connection:
    ownercsv_df.to_sql('owners', con=connection, if_exists='append', index = False)